:root {
  /* MaxWidth Of Page, Container-Fluid, Container, Gutter*/
  --max-width-page: 2560px;
  --max-width-container: calc(1198px + calc(var(--gap) * 2));

  --gap: 28px;
  --gutter: 26px;

  /* Colors Variable */
  --cl-primary: #0328ee;
  --cl-secondary: #00116a;
  --cl-dark-blue-1: #010725;
  --cl-dark-blue-2: #010d50;
  --cl-white: #ffffff;
  --cl-error: #ee0303;

  // Fontsize - Lineheight Variable
  --fs-h1: 6.6rem;
  --lh-h1: 8rem;
  --ls-h1: -0.1rem;

  --fs-h2: 4.2rem;
  --lh-h2: 5.5rem;
  --ls-h2: 0px;

  --fs-h3: 2.2rem;
  --lh-h3: 3.1rem;
  --ls-h3: 0px;

  --fs-h5: 1.6rem;
  --lh-h5: 1.8rem;
  --ls-h5: 0.08rem;

  --fs-label: 1.8rem;
  --lh-label: 2.6rem;
  --ls-label: 0.09rem;

  --fs-text-btn: 1.6rem;
  --lh-text-btn: 1.6rem;
  --ls-text-btn: 0.16rem;

  --fs-body: 1.8rem;
  --lh-body: 3.2rem;
  --ls-body: 0px;

  --fs-body-small: 1.6rem;
  --lh-body-small: 2.6rem;
  --ls-body-small: 0px;

  --fs-text-menu: 1.4rem;
  --lh-text-menu: 1.6rem;
  --ls-text-menu: 0.14rem;

  --fs-text-tag: 1.4rem;
  --lh-text-tag: 1.8rem;
  --ls-text-tag: 0.07rem;

  // General Variable
  --height-header: 100px;
  --height-button: 70px;
  --height-button-small: 56px;

  --font-body: dmr;
  --font-body-bold: dmb;

  // Timing Transition Variable Demo
  --transition: 0.4s;
  --cubic: cubic-bezier(0.59, 0.29, 0.15, 0.93);

  // Responsive
  @include md {
    --max-width-container: 1140px;
  }
  @include sm {
    --max-width-container: 960px;
  }
  @include xs {
    --max-width-container: 100%;
    --gap: 15px;
    --gutter: 16px;
    --height-button: 52px;

    --fs-h1: 3.8rem;
    --lh-h1: 4.6rem;
    --ls-h1: -0.1rem;

    --fs-h2: 2.8rem;
    --lh-h2: 3.6rem;
    --ls-h2: 0px;

    --fs-h3: 2.2rem;
    --lh-h3: 3.1rem;
    --ls-h3: 0px;

    --fs-label: 1.4rem;
    --lh-label: 1.8rem;
    --ls-label: 0.07rem;

    --fs-text-btn: 1.6rem;
    --lh-text-btn: 1.6rem;
    --ls-text-btn: 0.16rem;

    --fs-body: 1.6rem;
    --lh-body: 2.6rem;
    --ls-body: 0px;

    --fs-body-small: 1.6rem;
    --lh-body-small: 2.6rem;
    --ls-body-small: 0px;

    --fs-text-menu: 2.6rem;
    --lh-text-menu: 2.6rem;
    --ls-text-menu: 0.14rem;

    --fs-text-tag: 1.4rem;
    --lh-text-tag: 1.8rem;
    --ls-text-tag: 0.07rem;

    --height-header: 73px;
  }
  @include xxs {
    --max-width-container: 100%;
  }
}
